@use "color" as *;

body {
    nav {
        background-color: #444342;
        color: white;
        .nav-link {
            color: #dddddc;
            transition: 0.3s;
            
        }
        .nav-link:hover {
            color: $primary-color;
        }

    }
    .banner {
        .container-fluid {
            background-image: url(/ZEROCFPICS/background1.png);
            background-size: cover;
            background-position: center;
            
            .row {
                .col-4 {
                    .box {
                        margin-top: 450px;
                        h1 {
                            color: $secondary-color;
                            text-align: center;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            font-size: 25px;
                           
                        }
                       
                        #arrow {
                            text-align: center;
                            .arrow {
                                text-align: center;
                               scale: 70%;
                               transition: 0.3s;
                            }
                            .arrow:hover {
                               margin-top: 10px;
                                scale: 73%;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1400px) { 


}

/*  body { 
        nav {
            background-color: whitesmoke; 
        }
    }
    */
    